@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

        *{
            margin: 0px;
            padding: 0px;
        }
    
        :root{
            --cor-Azul-oceano: #0077B6;
            --cor-Azul-claro: #90E0EF;
            --cor-Areia: #F4E1C1;
            --cor-Branco-gelo: #F8F9FA;
            --cor-Cinza-escuro: #333333;
            /*  */
            --font-geral: "Montserrat", sans-serif;
            --font-textos: "Open Sans", sans-serif;


        }
        body{
            background-image: linear-gradient(to top, var(--cor-Branco-gelo), var(--cor-Azul-claro));
            font-family: var(--font-geral);
        }
        a{
            text-decoration: none;
        }
        h1, h2, h3{
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }
        h3{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        h4{
            text-transform: uppercase;
            font-weight: bold;
            padding-left: 10px;
        }
        p{
            padding: 10px;
        }
        span{
            font-weight: bold;
        }
        ul{
            list-style-type: none;
        }
        li{
            margin-left: 5px;
            padding: 5px;
            font-weight: bold;
        }
        .secoes-h2{
            padding-top: 20px;
            padding-bottom: 10px;
            background-color: white;
        }
        #header-nav{
            margin: auto;
            margin-bottom: 105px;
            text-align: center;
            height: 100vh;
        }
        #header-nav #nav-home{
            display: flex;
            align-items: center;
            height: 105px;
            background-image: linear-gradient(to bottom, var(--cor-Azul-oceano), var(--cor-Azul-claro));
        }
         #header-nav #nav-home #nav-links{
            display: flex;
            justify-content: end;
            margin: auto;
            width: auto;
         }
         #header-nav  #nav-home  #nav-links .botoes-nav{
            background-color: var(--cor-Azul-oceano);
            color: var(--cor-Branco-gelo);
            font-weight: bold;
            margin: 0px 5px;
            border-bottom: solid black 2px;
            border-right: solid rgba(0, 0, 0, 0.24) 2px;
            border-radius: 8px;
            padding: 7px;
         }
         #header-nav  #nav-home  #nav-links #botao-nav-dicas{
            margin-right: 10px;
         }
         #header-nav  #nav-home  #nav-links .botoes-nav:hover{
             background-color: var(--cor-Azul-claro);
             color: var(--cor-Cinza-escuro);
         }
         #header-nav  #nav-home  #nav-links #botao-nav-contatos:hover{
            background-color: var(--cor-Areia);
            color: var(--cor-Cinza-escuro);
         }
         #header-nav  #nav-home  #nav-links #botao-nav-dicas:hover{
            background-color: var(--cor-Branco-gelo);
            color: var(--cor-Cinza-escuro);
         }
        #header-nav  #nav-home  #logo-foto{
            align-content: center;
            width: 100px;
            height: 100px;
        }
        #logo{
            margin: auto;
            margin-bottom: 0px;
            width: 85%;
            border-radius: 50% 50%;
        }
        #header-nav #banner{
            display: flex;
            height: 100%;
            background-image: url("https://images.pexels.com/photos/12766014/pexels-photo-12766014.jpeg");
            background-size: cover; /* cobre toda a tela */
            background-position: center; /* centraliza */
            background-repeat: no-repeat; /* não repete */
        }
        #header-nav #banner #overlay-banner{
            margin: auto;
            padding-bottom: 200px;
            color: var(--cor-Branco-gelo);
        }
        hr{
            margin: auto;
            width: 200px;
        }
        #main{
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            height: auto;
            background-color: white;
        }
        #main #MinhaViagem{
            background-color: var(--cor-Branco-gelo);
            margin: auto;
            padding-bottom: 10px;
            border-radius: 8px;
        }
        #main #NosEncontre{
            background-color: var(--cor-Azul-oceano);
            margin: auto;
            padding-bottom: 20px;
            border-top-left-radius:  90px;
            border-top-right-radius: 90px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        #main #NosEncontre #card-contato{
            background-image: linear-gradient(to bottom, var(--cor-Azul-claro), var(--cor-Azul-oceano));
            color: var(--cor-Branco-gelo);
            border-radius: 8px;
        }
        #main #Conselhos{
            background-color: var(--cor-Branco-gelo);
            margin: auto;
            margin-bottom: 10px;
            padding-bottom: 20px;
            border-radius: 8px;
        }
        #main #Conselhos #card-conselhos{
            background-color: var(--cor-Branco-gelo);
        }
        #main .cards{
            background-color: var(--cor-Branco-gelo);
            margin: auto;
            text-align: center;
            width: 90vw;
            border-radius: 8px;
            align-items: center;
        }
        #main .cards-conteudos{
            text-align: start;
        }
        #main .img-cards{
            width: 90vw;
            margin: auto;
            border-radius: 8px;

        }
        #main .cards .cards-conteudos #imagens-cards-minha-viagem{
            display: flex;
            margin: auto;
            width: 90vw;
        }
        #main .cards .cards-conteudos #imagens-cards{
            width: 90vw;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        #main .cards .cards-conteudos .imagens-cards-viagens{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
            width: 150px;
            background-color: var(--cor-Branco-gelo);
        }
        #main .cards .cards-conteudos .imagens-cards-destinos{
            width: 100px;
            height: 100px;
            margin: 10px;
            border-radius: 50% 50%;
        }
        #main .botoes-home{
            display: inline-block;
            background-color: var(--cor-Azul-oceano);
            color: var(--cor-Branco-gelo);
            font-weight: bold;
            margin: 20px 0px 5px 20px;
            border-radius: 8px;
            padding: 7px;
         }
         #main .botoes-home:hover{
            background-color: var(--cor-Azul-claro);
            color: var(--cor-Cinza-escuro);
         }
         #main #botao-home-contato{
            background-color: var(--cor-Branco-gelo);
            color: var(--cor-Azul-oceano);
         }
         #main #botao-home-contato:hover{
            background-color: var(--cor-Areia);
            color: var(--cor-Cinza-escuro);
         }
        #footer-info{
            background-image: linear-gradient(to top, var(--cor-Azul-claro), var(--cor-Azul-oceano));
            text-align: center;
        }
        #footer-info p {
            font-weight: bold;
            color: var(--cor-Branco-gelo);
            font-size: 0.8rem;
        }
        #footer-info a {
            color: var(--cor-Branco-gelo);
        }
